#----------------------------------------
# GENERAL SETTINGS
#----------------------------------------

# Site title, appears in the browser tab
title: "Security. Compliance. Strategy. | Justin Johnson"

# Site description in search engine
description: "Navigating the complexities of IT Audit and Compliance. Join me as I share insights, strategies, and resources to help you stay ahead in the ever-evolving world of cybersecurity and compliance."

# Language settings for html and seo
lang: "en_US"
iso-lang: "en"

# Production url.
url: "https://justinmjohnson.com"

# Part after .com, etc. Use / if none
baseurl: /


#----------------------------------------
# CONTENT VARIABLES
#----------------------------------------

# Posts, drafts and other collections in '_content' directory
collections_dir: content

# Collections
collections:
  img:
    output: true
    permalink: /:collection/:name


# Index
index_header: "Security. Compliance. Strategy."
index_description: "Hi, my name is Justin Johnson. I'm a Cybersecurity Project Manager, CMMC Certified Assessor, and a lifelong learner, navigating the complexities of IT Audit/Assessment and Compliance. Join me as I share insights, strategies, and resources to help you stay ahead in the ever-evolving world of cybersecurity."

# Footer
# Available icons: link, youtube, twitter, facebook, linkedin, instagram
footer_description: Expert insights on Cybersecurity, GRC, and CMMC compliance from Justin Johnson. Resources and thoughts for IT Assessors and security professionals.
footer_socials:
  -
    link: "https://www.youtube.com/@initcyber"
    icon: "youtube"
  -
    link: "https://www.linkedin.com/in/imjustinjohnson/"
    icon: "linkedin"
  -
    link: "https://initcyber.com"
    icon: "link"
  # -
  #   link: "/"
  #   icon: "linkedin"

#----------------------------------------
# JEKYLL SETTINGS
#----------------------------------------

# Default variables for pages. Are in use if not overwritten
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "Justin"
      img: "https://placekitten.com/1300/600"
      tag: Post

# Takes files from root folder, generates site into ./_site
source: .
destination: ./_site

paginate: 4
paginate_path: "page/:num/"

# Excluding dev gem builds from website
exclude: [vendor]

# Jekyll plugins
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-relative-links
  - jekyll-paginate
  - jekyll-feed
