<footer>
  <div>
    <section>
      <h3>Latest posts</h3>
      <ul class="footer-list-posts">
        {%- for post in site.posts limit:2 -%}
          <li>
            <a href="{{- post.url | relative_url -}}">
              <div class="footer-image" style='background-image: url("{{- post.img -}}");'></div>
              <div>
                <aside>{{- post.tag -}}</aside>
                <h2>{{- post.title -}}</h2>
                {% if post.author %}
                <aside>{{ post.author }} &bull; {{ post.date | date_to_string }}</aside>
                {% else %}
                <aside>{{ post.date | date_to_string }}</aside>
                {% endif %}
              </div>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </section>
    <section>
      <h3>{{ site.title }}</h3>
      <p>{{ site.footer_description }}</p>
      <ul class="footer-list-socials">
        {%- for entry in site.footer_socials -%}
          <li><a class="icon-{{- entry.icon -}}" href="{{- entry.link -}}"></a></li>
        {%- endfor -%}
      </ul>
    <!-- <div style="display: flex;">
        {%- include wakatime.html -%}
    </div> -->
    <p>My Recent Certifications:</p>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
      <blockquote class="badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://badges.parchment.com/public/assertions/Q3_VvTSRRW6jaoClKoaIYg"><img width="120px" height="120px" src="https://badges.parchment.com/public/assertions/Q3_VvTSRRW6jaoClKoaIYg/image"></a><p style="margin: 16px 0; padding: 0;"><a class="badgr-badge-verify" target="_blank" href="https://badgecheck.io?url=https%3A%2F%2Fbadges.parchment.com%2Fpublic%2Fassertions%2FQ3_VvTSRRW6jaoClKoaIYg" style="box-sizing: content-box; display: flex; align-items: center; justify-content: center; margin: 0; font-size:14px; font-weight: bold; width: 48px; height: 16px; border-radius: 4px; border: solid 1px rgb(255, 255, 255); text-decoration: none; padding: 6px 16px; margin: 16px 0; color: rgb(255, 255, 255);" aria-label="Verify (opens in new window)">VERIFY</a></p><script async="async" src="https://cmmc-ab.badges.parchment.com/assets/widgets.bundle.js"></script></blockquote>
      <blockquote class="badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://badges.parchment.com/public/assertions/AEcIXAJ2Rz-Jcd7F7nQCKw"><img width="120px" height="120px" src="https://badges.parchment.com/public/assertions/AEcIXAJ2Rz-Jcd7F7nQCKw/image"></a><p style="margin: 16px 0; padding: 0;"><a class="badgr-badge-verify" target="_blank" href="https://badgecheck.io?url=https%3A%2F%2Fbadges.parchment.com%2Fpublic%2Fassertions%2FAEcIXAJ2Rz-Jcd7F7nQCKw" style="box-sizing: content-box; display: flex; align-items: center; justify-content: center; margin: 0; font-size:14px; font-weight: bold; width: 48px; height: 16px; border-radius: 4px; border: solid 1px rgb(255, 255, 255); text-decoration: none; padding: 6px 16px; margin: 16px 0; color: rgb(255, 255, 255);" aria-label="Verify (opens in new window)">VERIFY</a></p><script async="async" src="https://cmmc-ab.badges.parchment.com/assets/widgets.bundle.js"></script></blockquote>
      <blockquote class="badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://badges.parchment.com/public/assertions/wezK1Xa0SaeULEEYXO_C0w"><img width="120px" height="120px" src="https://badges.parchment.com/public/assertions/wezK1Xa0SaeULEEYXO_C0w/image"></a><p style="margin: 16px 0; padding: 0;"><a class="badgr-badge-verify" target="_blank" href="https://badgecheck.io?url=https%3A%2F%2Fbadges.parchment.com%2Fpublic%2Fassertions%2FwezK1Xa0SaeULEEYXO_C0w" style="box-sizing: content-box; display: flex; align-items: center; justify-content: center; margin: 0; font-size:14px; font-weight: bold; width: 48px; height: 16px; border-radius: 4px; border: solid 1px rgb(255, 255, 255); text-decoration: none; padding: 6px 16px; margin: 16px 0; color: rgb(255, 255, 255);" aria-label="Verify (opens in new window)">VERIFY</a></p><script async="async" src="https://cmmc-ab.badges.parchment.com/assets/widgets.bundle.js"></script></blockquote>
    </div>
    </section>
  </div>
  <p>{{ 'now' | date: "%Y" }} &copy; <a href="{{ '/' | relative_url }}">{{ site.title }}</a>. All rights reserved. <a href="https://www.justinmjohnson.com/rss.xml">RSS Feed</a> </p>
</footer>
